# ENVIRONMENT VARIABLES
.env
.env.*

# NODE
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# BUILD OUTPUT
dist/
build/
out/

# VITE
.vite/

# VSCODE
.vscode/

# LOGFILES
*.log

# SYSTEM FILES
.DS_Store
Thumbs.db
